.product-container {
  display: flex;

  .description-container {
    font-size: 16px;
    width: 33vw;
  }

  .image {
    width: 33vw;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .add-to-column {
    width: auto;

    .price {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
