.main-image-container {
  width: 40%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex-basis: auto;
  // padding: 50px;

  .product-image-large {
    width: 100%;
    min-width: 300px;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-basis: auto;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  .mini-image-slider {
    // border: 1px solid red;
    border: none;
    width: 100%;
    height: 15vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;

    ul {
      display: flex;
      overflow: hidden;
      .slide {
        // border: 1px solid blue;
        border: none;
        width: 25%;
        height: 100%;

        img {
          width: 25vh;
          height: 15vh;
        }
      }
    }

    %btn-styles {
      position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      width: 5%;
      height: 20vh;
      background: none;
      border: none;
      outline: none;
      transition: all 0.2s;
      &:hover {
        background: rgba($color: #000000, $alpha: 0.3);
      }
    }
    #slideLeft {
      left: 0;
      @extend %btn-styles;
    }
    #slideRight {
      right: 0;
      @extend %btn-styles;
    }
  }
}
