.header {
  height: 70px;
  width: 100%;
  // NOTE - below 2 lines pushes content and logo as far as possible
  display: flex;
  justify-content: space-between;
  // NOTE - pushes anything below header down by 25px
  margin-bottom: 25px;

  .options-left {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  .options-center {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-container {
      // padding: 10px 15px;
      cursor: pointer;
    }
  }

  .options {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    // NOTE - this keeps options to the end of flex box (right hand side)
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
